<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Habit Tracker: Details</title>
</head>
<body>
    <div class="container mx-auto my-auto px-5 pb-3 pt-3">
        <nav class="nav-bar row align-items-center mb-4">
            <h1 class="col-6 text-start fw-bold top-title">{{user_info.first_name.capitalize()}}'s Account Details!</h1>
            <div class="col-6 nav-pills d-md-inline-flex justify-content-end">
                <a href="/dashboard" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Dashboard</a>
                <a href="/habit/create" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Create Habit</a>
                <a href="/account/details" class="btn btn-outline-dark rounded-0 hover-shadow bg-primary-subtle text-black fw-bold px-3">Account</a>
                <a href="/logout" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Logout</a>
            </div>
        </nav>
        <div class="row">

            <!-- {% with messages = get_flashed_messages(category_filter=["success_habit_updated"]) %}
            {% if messages %}
            <div class="p-3 my-1 rounded bg-success-subtle bg-opacity-75 fw-semibold lh-1 hover-shadow flashes">
                {% for message in messages %}
                <p class="pt-1 text-success-emphasis">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %} -->

            <div class="col-md-6 flex-column d-flex align-items-center">
                <div class="p-5 bg-opacity-75 bg-light border-1 border-dark-subtle border shadow fade-in-start-page-2nd">
                    <div class="row text-center justify-content-center">
                        <p>All Your Habits</p>
                        <table class="table table-striped-columns table-dark table-bordered table-group-divider table-hover text-center">
                            <thead>
                                <tr>
                                    <th>Sleep</th>
                                    <th>Steps</th>
                                    <th>Gym</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            {% for sleep_habit in sleep_habits %}
                                                    <a href="/habit/details/sleep/{{sleep_habit.sleep_id}}"">{{ sleep_habit.created_at.strftime("%B, %d %Y %I:%M %p") }}</a><br>
                                                    <hr>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for steps_habit in steps_habits %}
                                                    <a href="/habit/details/steps/{{steps_habit.step_id}}"">{{ steps_habit.created_at.strftime("%B, %d %Y %I:%M %p") }}</a><br>
                                                    <hr>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for gym_habit in gym_habits %}
                                                    <a href="/habit/details/gym/{{gym_habit.gym_id}}">{{ gym_habit.created_at.strftime("%B, %d %Y %I:%M %p") }}</a><br>
                                                    <hr>
                                            {% endfor %}
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                        <!-- ? boiler plate code if no image is selected for later on for the user profile -->
                        <!-- {% with messages = get_flashed_messages(category_filter=["create_car_listing(no_image)"]) %}
                        {% if messages %}
                        <div class="p-3 my-1 rounded bg-danger-subtle bg-opacity-75 fw-semibold lh-1 hover-shadow flashes">
                            <p class="pt-1 text-danger-emphasis">{{ messages[0] }}</p>
                        </div>
                        {% endif %}
                        {% endwith %} -->
                        <!-- ? validation if the user tries to create a listing that includes an image file name with bad syntax format -->
                        <!-- {% with messages = get_flashed_messages(category_filter=["correct_file_name"]) %}
                        {% if messages %}
                        <div class="p-3 my-1 rounded bg-danger-subtle bg-opacity-75 fw-semibold lh-1 hover-shadow flashes">
                            <p class="pt-1 text-danger-emphasis">{{ messages[0] }}</p>
                        </div>
                        {% endif %}
                        {% endwith %} -->
                        <!-- ?? image code boilerplate for later -->
                        <!-- <img src="https://cdn-icons-png.flaticon.com/128/3085/3085411.png" alt="car image placeholder" id="selectedImage" class="w-75 mt-3 input-image">
                        <div class="mt-3 fw-bold btn btn-primary rounded bg-gradient w-auto px-2 bg-primary hover-shadow">
                            <label class="form-label text-white m-1" for="image_file">Choose File</label>
                            <input class="d-none" type="file" id="image_file" name="image_file" value="..." onchange="displaySelectedImage(event, 'selectedImage'), myChangeFunction(event, this)">
                            <input type="hidden" id="image_path" name="image_path" value="...">
                        </div> -->
            <div class="col-md-6 flex-column d-flex align-items-center">
                <div class="p-3 bg-opacity-75 bg-light border-1 border-dark-subtle border shadow fade-in-start-page-2nd">
                    <div class="text-center justify-content-center row p-3">
                        <p>
                            <span class="fw-bold">First Name: </span>
                            {{user_info.first_name}}
                        </p>
                        <p>
                            <span class="fw-bold">Last Name: </span>
                            {{user_info.last_name}}
                        </p>
                        <p>
                            <span class="fw-bold">UserName: </span>
                            {{user_info.username}}
                        </p>
                        <p>
                            <span class="fw-bold">Location: </span>
                            {{user_info.location}}
                        </p>
                        <p>
                            <span class="fw-bold">Email: </span>
                            {{user_info.email}}
                        </p>
                        <button class="my-2 fw-bold btn btn-warning rounded bg-gradient bg-warning hover-shadow w-25" onclick="resetPasswordPopUp()">Reset Password</button>
                        <p id="demo"></p>
                        <p>
                            <span class="fw-bold">Password: </span>
                            <!-- {{user_info.password}} -->
                            **********
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>