<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
    <title>Habit Tracker: Dashboard</title>
</head>
<body>
    <div class="container mx-auto my-auto px-5 pb-3 pt-3">
        <nav class="nav-bar row mb-4">
            <div class="col-12 d-md-inline-flex justify-content-end">
                <a href="/dashboard" class="btn btn-outline-dark rounded-0 hover-shadow bg-primary-subtle text-black fw-bold px-3">Dashboard</a>
                <a href="/habit/create" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Create Habit</a>
                <a href="#" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Account</a>
                <a href="/logout" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Logout</a>
            </div>
            <h1 class="col-6 text-start fw-bold top-title">Welcome {{session['first_name']}} !</h1>
            <p class="text-success-emphasis fw-bolder top-title">Current Rank #44</p>
        </nav>
        <div class="container">
            <div class="p-4 mb-3 card bg-opacity-75 bg-light hover-shadow border-1 border-dark-subtle border">
                <div class="row">

                    <div class="row p-2 text-center">
                        <h1>GYM</h1>
                        <table class="table table-striped table-dark text-center">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Reps</th>
                                    <th>Hours</th>
                                    <th>Start session</th>
                                    <th>Stop session</th>
                                    <th>Links</th>
                                    <!-- <th>created at</th> -->
                                    <!-- <th>updated at</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for gym in all_gym_habits %}
                                <tr>
                                    <th>{{ gym.first_name }}</th>
                                    <td>{{ gym.reps }}</td>
                                    <td>{{ gym.hours }}</td>
                                    <td>{{ gym.gym_start.strftime("%B, %d %Y %I:%M %p") }}</td>
                                    <td>{{ gym.gym_stop.strftime("%B, %d %Y %I:%M %p") }}</td>
                                    <td>
                                        <a class="fw-bold btn btn-primary rounded bg-gradient bg-primary hover-shadow" href="/habit/details/gym/{{gym.gym_id}}">View</a>
                                        <!-- ?? set up for later when we have a dashboard that owns diff habits from diff users, for now it's all from one user -->
                                        <!-- {% if session["user_id"] == gym.user_id %}
                                        <a href="/habit/details/{{gym.gym_id}}" title="gym">Edit</a>
                                        {% endif %} -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row p-2 text-center">
                        <h1>SLEEP</h1>
                        <table class="table table-striped table-dark text-center">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Hours</th>
                                    <th>Quality</th>
                                    <th>Sleep start</th>
                                    <th>Sleep stop</th>
                                    <th>Links</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- will create a jinja2 for loop to find all available data -->
                                {% for sleep in all_sleep_habits %}
                                <tr>
                                    <!-- /habit/details/{{sleep.sleep_id}} -->
                                    <th>{{ sleep.first_name }}</th>
                                    <td>{{ sleep.hours }}</td>
                                    <td>{{ sleep.quality }}</td>
                                    <td>{{ sleep.sleep_start.strftime("%B, %d %Y %I:%M %p") }}</td>
                                    <td>{{ sleep.sleep_stop.strftime("%B, %d %Y %I:%M %p") }}</td>
                                    <td>
                                        <a class="fw-bold btn btn-primary rounded bg-gradient bg-primary hover-shadow" href="/habit/details/sleep/{{sleep.sleep_id}}">View</a>
                                        <!-- ?? set up for later when we have a dashboard that owns diff habits from diff users, for now it's all from one user -->
                                        <!-- {% if session["user_id"] == sleep.user_id %}
                                        <a href="/habit/details/{{sleep.sleep_id}}" title="sleep">Edit</a>
                                        {% endif %} -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row p-2 text-center">
                        <h1>STEPS</h1>
                        <table class="table table-striped table-dark text-center">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Amount</th>
                                    <th>Location</th>
                                    <th>Links</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- will create a jinja2 for loop to find all available data -->
                                {% for steps in all_step_habits %}
                                <tr>
                                    <td> {{ steps.first_name }} </td>
                                    <td> {{ steps.amount }} </td>
                                    <td> {{ steps.location }} </td>
                                    <td>
                                        <a class="fw-bold btn btn-primary rounded bg-gradient bg-primary hover-shadow" href="/habit/details/steps/{{steps.step_id}}">View</a>
                                        <!-- ?? set up for later when we have a dashboard that owns diff habits from diff users, for now it's all from one user -->
                                        <!-- {% if session["user_id"] == steps.user_id %}
                                        <a href="/habit/details/{{steps.steps_id}}" title="steps">Edit</a>
                                        {% endif %} -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>