<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Habit Tracker: Update</title>
</head>
<body>
    <div class="container mx-auto my-auto px-5 pb-3 pt-3">
        <nav class="nav-bar row align-items-center mb-4">
            <h1 class="col-6 text-start fw-bold top-title">Update Habit!</h1>
            <div class="col-6 nav-pills d-md-inline-flex justify-content-end">
                <a href="/dashboard" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Dashboard</a>
                <a href="/habit/create" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Create Habit</a>
                <a href="#" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Account</a>
                <a href="/logout" class="btn btn-outline-dark rounded-0 hover-shadow bg-white text-black fw-bold px-3">Logout</a>
            </div>
        </nav>
            <div class="row">
                <h1 class="text-center top-title fade-in-start-page fw-bold pb-5">Click the habit to update</h1>
                <div class="col-md-4 flex-column d-flex align-items-center">
                    <div class="p-3 bg-opacity-75 bg-light border-1 border-dark-subtle border shadow fade-in-start-page-2nd">
                        <div class="text-center justify-content-center row p-3">
                            <button class="mt-2 fw-bold btn btn-primary rounded bg-gradient bg-primary hover-shadow w-75" onclick="displayForm('inputContainerGym')">Gym</button>
                            
                            <!-- ?? validate empty inputs for creating a GYM habit -->
                            <!-- {% with messages = get_flashed_messages(category_filter=["creating_gym_habit"]) %}
                            {% if messages %}
                            <div class="p-3 my-1 rounded bg-danger-subtle bg-opacity-75 fw-semibold lh-1 hover-shadow flashes">
                                {% for message in messages %}
                                <p class="pt-1 text-danger-emphasis">{{ message }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %} -->
                            
                            <!-- todo: here is where i've added the FORM ACTION ROUTE for GYM habit inputs-->
                            <form class="text-black" action="/habit/update/gym/process" method="post" enctype="multipart/form-data">
                                <!-- this will only show once the button "gym" is clicked/ toggled -->
                                <!-- still have to edit input names, copies from first one "gym" -->
                                <div id="inputContainerGym" class="d-none">
                                    <input type="hidden" name="user_id" value="{{ session["int_registered_user"] }}">
                                    <div class="mt-3 input-group fw-semibold">
                                        <label for="reps">Reps: </label>
                                        <input class="form-control hover-shadow rounded-2 ms-2 border-black" type="number" name="reps" id="reps" value="{ gym.reps }">
                                    </div>
                                    <div class="mt-3 input-group fw-semibold">
                                        <label for="hours">Hours: </label>
                                        <input class="form-control hover-shadow rounded-2 ms-2 border-black" type="number" name="hours" id="hours" value="{ gym.hours }">
                                    </div>
                                    <div class="mt-3 form-input-inline fw-semibold">
                                        <label for="gym_start">Time started Gym session: </label>
                                        <input class="form-control hover-shadow rounded-2 border-black ms-2" type="datetime-local" name="gym_start" id="gym_start" value="{ gym.gym_start }">
                                    </div>
                                    <div class="mt-3 form-input-inline fw-semibold">
                                        <label for="gym_end">Time ended Gym session: </label>
                                        <input class="form-control hover-shadow rounded-2 border-black ms-2" type="datetime-local" name="gym_end" id="gym_end" value="{ gym.gym_end }">
                                    </div>
                                    <input class="mt-3 fw-bold btn btn-success rounded bg-gradient bg-success hover-shadow w-50" type="submit" value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 flex-column d-flex align-items-center">
                    <div class="p-3 bg-opacity-75 bg-light border-1 border-dark-subtle border shadow fade-in-start-page-2nd">
                        <div class="text-center justify-content-center row p-3">

                            <!-- ? boiler plate code if no image is selected for later on for the user profile -->
                            <!-- {% with messages = get_flashed_messages(category_filter=["create_car_listing(no_image)"]) %}
                            {% if messages %}
                            <div class="p-3 my-1 rounded bg-danger-subtle bg-opacity-75 fw-semibold lh-1 hover-shadow flashes">
                                <p class="pt-1 text-danger-emphasis">{{ messages[0] }}</p>
                            </div>
                            {% endif %}
                            {% endwith %} -->
                            <!-- ? validation if the user tries to create a listing that includes an image file name with bad syntax format -->
                            <!-- {% with messages = get_flashed_messages(category_filter=["correct_file_name"]) %}
                            {% if messages %}
                            <div class="p-3 my-1 rounded bg-danger-subtle bg-opacity-75 fw-semibold lh-1 hover-shadow flashes">
                                <p class="pt-1 text-danger-emphasis">{{ messages[0] }}</p>
                            </div>
                            {% endif %}
                            {% endwith %} -->
                            <!-- ?? image code boilerplate for later -->
                            <!-- <img src="https://cdn-icons-png.flaticon.com/128/3085/3085411.png" alt="car image placeholder" id="selectedImage" class="w-75 mt-3 input-image">
                            <div class="mt-3 fw-bold btn btn-primary rounded bg-gradient w-auto px-2 bg-primary hover-shadow">
                                <label class="form-label text-white m-1" for="image_file">Choose File</label>
                                <input class="d-none" type="file" id="image_file" name="image_file" value="..." onchange="displaySelectedImage(event, 'selectedImage'), myChangeFunction(event, this)">
                                <input type="hidden" id="image_path" name="image_path" value="...">
                            </div> -->

                            <button class="mt-2 fw-bold btn btn-primary rounded bg-gradient bg-primary hover-shadow w-75" onclick="displayForm('inputContainerSleep')">Sleep</button>

                            <!-- ?? validate empty inputs for creating a SLEEP habit -->
                            <!-- {% with messages = get_flashed_messages(category_filter=["creating_sleep_habit"]) %}
                            {% if messages %}
                            <div class="p-3 my-1 rounded bg-danger-subtle bg-opacity-75 fw-semibold lh-1 hover-shadow flashes">
                                {% for message in messages %}
                                <p class="pt-1 text-danger-emphasis">{{ message }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %} -->

                            <!-- todo: here is where i've added the FORM ACTION ROUTE for SLEEP habit inputs-->
                            <!-- still have to edit input names, copies from first one "gym" -->
                            <form class="text-black" action="/habit/update/sleep/process" method="post" enctype="multipart/form-data">
                                <!-- this will only show once the button "sleep" is clicked/ toggled -->
                                <div id="inputContainerSleep" class="d-none">
                                    <input type="hidden" name="user_id" value="{{ session["int_registered_user"] }}">
                                    <div class="mt-3 input-group fw-semibold">
                                        <label for="quality">Quality: </label>
                                        <input class="form-control hover-shadow rounded-2 ms-2 border-black" type="number" name="quality" id="quality" placeholder="1 - 5 rating, 5 = best" value="{ sleep.quality }">
                                    </div>
                                    <div class="mt-3 input-group fw-semibold">
                                        <label for="hours">Hours: </label>
                                        <input class="form-control hover-shadow rounded-2 ms-2 border-black" type="number" name="hours" id="hours" value="{ sleep.hours }">
                                    </div>
                                    <div class="mt-3 form-input-inline fw-semibold">
                                        <label for="sleep_start">Time started sleeping: </label>
                                        <input class="form-control hover-shadow rounded-2 border-black ms-2" type="datetime-local" name="sleep_start" id="sleep_start" value="{ sleep.sleep_start }">
                                    </div>
                                    <div class="mt-3 form-input-inline fw-semibold">
                                        <label for="sleep_stop">Time stopped sleeping: </label>
                                        <input class="form-control hover-shadow rounded-2 border-black ms-2" type="datetime-local" name="sleep_stop" id="sleep_stop" value="{ sleep.sleep_stop }">
                                    </div>
                                    <input class="mt-3 fw-bold btn btn-success rounded bg-gradient bg-success hover-shadow w-50" type="submit" value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 flex-column d-flex align-items-center">
                    <div class="p-3 bg-opacity-75 bg-light border-1 border-dark-subtle border shadow fade-in-start-page-2nd">
                        <div class="text-center justify-content-center row p-3">
                            <button class="mt-2 fw-bold btn btn-primary rounded bg-gradient bg-primary hover-shadow w-75" onclick="displayForm('inputContainerSteps')">Steps</button>

                            <!-- ?? validate empty inputs for creating a STEPS habit -->
                            {% with messages = get_flashed_messages(category_filter=["creating_steps_habit"]) %}
                            {% if messages %}
                            <div class="p-3 my-1 rounded bg-danger-subtle bg-opacity-75 fw-semibold lh-1 hover-shadow flashes">
                                {% for message in messages %}
                                <p class="pt-1 text-danger-emphasis">{{ message }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %}

                            <!-- todo: here is where i've added the FORM ACTION ROUTE for STEPS habit inputs-->
                            <!-- still have to edit input names, copies from first one "gym" -->
                            <form class="text-black" action="/habit/update/steps/process" method="post" enctype="multipart/form-data">
                                <!-- this will only show once the button "steps" is clicked/ toggled -->
                                <div id="inputContainerSteps" class="d-none">
                                    <input type="hidden" name="user_id" value="{{ session["int_registered_user"] }}">
                                    <div class="mt-3 input-group fw-semibold">
                                        <label for="amount">Amount: </label>
                                        <input class="form-control hover-shadow rounded-2 ms-2 border-black" type="number" name="amount" id="amount" value="{ steps.amount }">
                                    </div>
                                    <div class="mt-3 input-group fw-semibold">
                                        <label for="location">Location: </label>
                                        <input class="form-control hover-shadow rounded-2 ms-2 border-black" type="text" name="location" id="location" placeholder="Format as [City, St]" value="{ sleep.location }">
                                    </div>
                                    <input class="mt-3 fw-bold btn btn-success rounded bg-gradient bg-success hover-shadow w-50" type="submit" value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </form> -->
    </div>
</body>
</html>